.movie-card {
    margin: 15px auto;
    text-align: center;
    background-color: #f0f0f0;
    padding: 10px;
    cursor: pointer;
    border-radius: 8px;
    width: 90%;
    max-width: 250px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: all 0.3s ease;
}

.movie-card:hover {
    transform: scale(1.05);
    box-shadow: 0px 0px 20px #0dcaf0;
}

.movie-card img {
    border-radius: 8px;
    max-width: 100%;
    height: auto;
}

.movie-card h3 {
    font-size: 18px;
    margin: 10px 0 5px;
}

.movie-card p {
    color: #555;
    margin: 0;
}


@media (min-width: 1024px) {
    .movie-card {
        width: 23%;
    }
}

@media (min-width: 768px) and (max-width: 1023px) {
    .movie-card {
        width: 45%;
    }
}

@media (max-width: 767px) {
    .movie-card {
        width: 100%;
    }
}

@media (max-width: 480px) {
    .movie-card {
        width: 100%;
        max-width: 300px;
    }

    .movie-card h3 {
        font-size: 16px;
    }

    .movie-card p {
        font-size: 14px;
    }
}